[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "confinterpret"]
	path = confinterpret
	url = https://github.com/jimvine/confinterpret
